$font-color : #f0f0f0; 
$background-overlay : rgba(31,31,31,.7);

// mixin for Raleway font for our web
@mixin mainFont {

font-family: 'Raleway', sans-serif;

}



// Mixin for responsive for mobiles phones 
@mixin mobiles {
    @media screen and (max-width: 768px) {
    @content;
  }
}
