$font-color : #f0f0f0; 
$background-color : rgba(31,31,31,.7);
@mixin mainFont {

font-family: 'Raleway', sans-serif;

}


body {
    color : $font-color ; 
    box-sizing: border-box ;
    @include mainFont() ;
    margin:  0 ; 
    padding: 0 ;
    font-weight: bold;
    letter-spacing: 1.5px;
    /* Section Header */
    #main-page {

        .header-overlay {
            background-color: $background-color;
            height : 100vh
        }

        background-image: url('../img/book2.jpeg'); 
        background-attachment: fixed ;
        background-repeat: no-repeat ; 
        background-size: cover ; 
        background-position:  50% 50% ;
        height : 100vh ;

        .header-overlay {
            background-color: $background-color ;
        }
        .show-div {            
            padding-top: 12.5rem;

            #book-info {
                display: grid ;
                grid-template-areas: 'left right' ;
                text-align: center;
                
                .form-item {
                    display:  grid; 
                    grid-template-areas: 'text button' ;
                    margin-top: 1rem;
                    .input-1 {
                        width :100%;

                        input {
                            padding:3px;
                            &::placeholder {
                                font-size: 14px;
                            } 
                        }

                    }
                    label {
                        text-align: right ;
                    }
                }
            }
        }

        /* Part of buttons*/
        .btn-div {
            margin : auto ;

            .btn-sub {
                width : 100% ;
                margin-left : 37px;
            }
    
        }
    }
}