@import 'config';
body {
    color : $font-color ; 
    box-sizing: border-box ;
    @include mainFont() ;
    margin:  0 ; 
    padding: 0 ;
    font-weight: bold;
    letter-spacing: 1.5px;
    overflow: hidden;
    background-image: url('../img/book2.jpeg'); 
    background-attachment: fixed ;
    background-repeat: no-repeat ; 
    background-size: cover ; 
    background-position:  50% 50% ;
    height : 100vh ;

    /* Section Header */
    #main-page {

        .header-overlay {
            background-color: $background-overlay;
            height : 100vh;
            width : 100vw;
        }

       

        // the div container form 
        .show-div {            
            padding-top: 11rem;

            // the form inside the show-div

            #book-info {
                display: grid ;
                grid-template-areas: 'left right' ;
                text-align: center;
                
                .form-item {
                    margin-top: 1rem;

                    // the div contain the input

                    .input-1 {
                        width :100%;
                        // text-align: right;

                        input,.sel {
                            padding:3px;

                            &::placeholder {
                                font-size: 14px;
                            } 
                        }

                    }
                    
                    // label {
                    //     text-align: left ;
                    // }
                }
            }
        }

        /* Part of buttons*/
        .btn-div {
            margin-left: 38.666667%;
            .btn-sub {
                width : 100% ;
                margin-left : 37px;
                
                &:hover {
                    transition:  all 1s ease-in-out ;
                }
            }
    
        }
    }

    /* shown part */ 
    .part-left-shown {
        @include mainTransition;
        transform : translate3d(0px,-140px, 0px);
        

    }
    .part-right-shown {
        @include mainTransition;
        transform: translate3d(-552px, 99px, 0px);
    }
}
// You can also use for to delay between every "li"
// 





@import 'results' ;
// Importing responsive scss file to this file
@import 'responsive'  ;

