body {
  color: #f0f0f0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1.5px;
  overflow: hidden;
  background-image: url("../img/book2.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  /* Section Header */
  /* shown part */
}
body #main-page {
  /* Part of buttons*/
}
body #main-page .header-overlay {
  background-color: rgba(31, 31, 31, 0.7);
  height: 100vh;
  width: 100vw;
}
body #main-page .show-div {
  padding-top: 11rem;
}
body #main-page .show-div #book-info {
  display: grid;
  grid-template-areas: "left right";
  text-align: center;
}
body #main-page .show-div #book-info .form-item {
  margin-top: 1rem;
}
body #main-page .show-div #book-info .form-item .input-1 {
  width: 100%;
}
body #main-page .show-div #book-info .form-item .input-1 input, body #main-page .show-div #book-info .form-item .input-1 .sel {
  padding: 3px;
}
body #main-page .show-div #book-info .form-item .input-1 input::placeholder, body #main-page .show-div #book-info .form-item .input-1 .sel::placeholder {
  font-size: 14px;
}
body #main-page .btn-div {
  margin-left: 38.666667%;
}
body #main-page .btn-div .btn-sub {
  width: 100%;
  margin-left: 37px;
}
body #main-page .btn-div .btn-sub:hover {
  transition: all 1s ease-in-out;
}
body .part-left-shown {
  transition: all 1s ease-in-out;
  transform: translate3d(0px, -140px, 0px);
}
body .part-right-shown {
  transition: all 1s ease-in-out;
  transform: translate3d(-552px, 99px, 0px);
}

.results-shown {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.Parent {
  text-align: center;
}

.btn-sub-shown {
  display: none;
}

.item {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}

.item p {
  color: #7a7a7a;
}

@media screen and (max-width: 768px) {
  .show-div {
    padding-top: 5rem !important;
  }

  #book-info {
    display: grid !important;
    grid-template-areas: "part-top" !important;
  }

  .input-1 {
    text-align: right;
  }

  .form-item label {
    text-align: left !important;
  }

  .btn-div button {
    width: 200px;
    margin: auto !important;
  }
}
